body {
    font-family:'Times New Roman', Times, serif;
    background-color: darkgray;
    margin: 40px;
    color: black;
}

h1 {
    color: #004aad;
    text-align: center;
}

h2 {
    color: #e60000;
    border-bottom: 2px solid #0073e6;
    padding-bottom: 5px;
}

.about, .skills, .projects, .contact {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  margin: 20px auto;
  width: 80%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.project {
  width: 300px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
}

.project img {
  width: 100%;
  border-radius: 8px;
}

